/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    margin: 20px;
    padding: 10px;
    text-align: center;
}
body {
    margin: 0 auto;
    padding: 0;
    max-width: 1024px;
    background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
    font: 100% georgia, sans-serif;
    line-height: 1.88889;
    color: #555753;
}
p {
    margin-top: 0;
    text-align: justify;
}
h1 {
    font: italic normal 2em georgia, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #7D775C;
}
h2 {
    font: italic normal 1.6em georgia, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #7D775C;
}
h3 {
    font: italic normal 1.2em georgia, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #7D775C;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #B7A5DF;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #D4CDDC;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
abbr {
    border-bottom: none;
}